<!DOCTYPE html>
<html>
<head>
  <% include partials/default/head.ejs %>
</head>
  <body class="<%=page %>">
    <% include partials/default/header.ejs %>
    <div class="large-9 large-centered columns">
    	<h1>Your Results: </h1>
		<p><%= coordinates %></p>
	</div>
      <% include partials/default/footer.ejs %>
      <% include partials/default/jsdefaults.ejs %>
  </body>
</html>
