<!DOCTYPE html>
<html>
<head>
  <% include partials/default/head.ejs %>
</head>


  <body class="<%=page %>">
    <% include partials/default/header.ejs %>
    <div class="wrapper">
      <div class="jumbotron small-12 small-centered columns">
        <!-- <h1><%= title %></h1> -->
        <div class="content large-8 large-centered columns">
          <div class="left">
            <h1>Break The Ice</h1>
            <p>Mountain Reports. Quick.</p>
          </div>
          <div class="right">
            <% include search.ejs %>
          </div>
        </div>
      </div>

      <% include partials/forms/signUpForm.ejs %>

        <button onclick="getLocation()">Search Your Location</button>

        <p id="demo"></p>


    </div>

    <script>
        var x = document.getElementById("demo");
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {

            x.innerHTML = "Latitude: " + position.coords.latitude +
                    "<br>Longitude: " + position.coords.longitude;



        }
    </script>

      <p id="demo"></p>

      <% include partials/default/footer.ejs %>

    <% include partials/default/jsdefaults.ejs %>
  </body>
</html>
