<!DOCTYPE html>
<html>
<head>
  <% include partials/default/head.ejs %>
</head>
  <body class="<%=page %>">
    <% include partials/default/header.ejs %>
    <div class="wrapper">
      <% include partials/forms/loginForm.ejs %>
      <% include partials/default/footer.ejs %>
      <% include partials/default/jsdefaults.ejs %>
    </div>
  </body>
</html>
s