<div class="row">
	<form action="coordinates" type="post">
	<button class="search" aria-label="submit form" href="#" type="submit">
		Get Coordinates
	</button>
</form>
</div>
<div class="row">
<form action="searchResults" type="get">
	<button  aria-label="submit form" href="#" type="submit">
		Find Nearby Mountains
	</button>
</form>
</div>
