<form action="/locationSearch" type="post" class="search" >
	<div class="small-11 small-centered large-7 columns">
		<input type="text" id="search" class="roundify" name="search" placeholder="Search for Locations" />
	</div>
</form>
