<div class="large-3 columns">
    <h1>Your Results: </h1>
</div>

<div class="large-9 columns">
    <ul>
		<% for(var i = 0; i<results.length; i++){ %>
        <li><%=results[i].station_information.name %></li>
		<% } %>
    </ul>
</div>