<form action="/locationSearch" type="post" class="search" >
	<div class="small-11 small-centered large-7 columns">
        <button aria-label="submit form" href="#" type="submit" class="small-10 small-offset-1 columns">
        Search
        </button>
	</div>
</form>
