<!DOCTYPE html>
<html>
<head>
  <% include partials/default/head.ejs %>
</head>
  <body class="<%=page %>">

    <div class="large-9 large-centered columns">
    	<h1>Your Results: </h1>

		<% for(var i = 0; i<results.length; i++){ %>
        	<a href="/mountain/:<%=results[i].station_information.triplet%>">

		<% stations.forEach(function(item) { %>
        	<a href="/mountain/station/item.triplet%>">

	        	<div class="searchResults row large-11 large-centered columns">
	        		<h4><%=results[i].station_information.name %></h4>
	        		<p><%=results[i].station_information.elevation %> ft</p>
	        	</div>
        	</a>
		<% } %>
	</div>
      <% include partials/default/footer.ejs %>
      <% include partials/default/jsdefaults.ejs %>
  </body>
</html>
