
<h1>Welcome, <%= data.username %></h1>

<div class="large-6 columns">
    <h2>Your Favorites</h2>

	<ul class="favorites">
    	<li><% %></li>
	</ul>
</div>

<div class="large-6 columns">

	<h2>Your Ratings</h2>
    <ul class="Ratings">
        <li></li>
    </ul>
    
</div>
