<header class="<%= header %>">
	<% if(data) { %>
	<div class="icon-bar four-up">
		<a href="/" class="item">
			<label>Home</label>
		</a>
		<a href="/profile" class="item">
			<label>Profile</label>
		</a>
		<a href="/logout" class="item">
			<label>Logout</label>
		</a>
	</div>
	<% } else { %>
	<div class="icon-bar four-up">
		<a href="/" class="item">
			<label>Home</label>
		</a>
		<a href="/loginForm" class="item">
			<label>Login</label>
		</a>
	</div>
	<% }; %>
</header>