<div class="registerForm small-11 small-centered medium-10 large-8 columns">
  <form action="/processLogin" method="post">
    <h1>Login</h1>
    <div class="small-10 columns centered">
      <div class="row">
        <div class="small-3 columns">
          <label for="username" class="right">Username</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="username" class="roundify" placeholder="Username" name="username">
        </div>
      </div>
     <!--  <div class="row">
        <div class="small-3 columns">
          <label for="email" class="right">Email</label>
        </div>
        <div class="small-9 columns">
          <input type="email" id="email" class="roundify" placeholder="Email" name="email">
        </div>
      </div> -->
      <div class="row">  
        <div class="small-3 columns">
          <label for="password" class="right">Password</label>
        </div>
        <div class="small-9 columns">
          <input type="password" id="password" class="roundify" placeholder="Password" name="password">
        </div>
      </div>
      <div class="row">
        <div class="small-9 small-offset-3 columns">
          <button aria-label="submit form" href="#" type="submit" class="small-10 small-offset-1 columns">
            Log In
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
