<div class="buttons">
	<form action="coordinates" type="post">
		<button class="search small-10 small-offset-1 medium-4 medium-offset-1 columns" aria-label="submit form" href="#" type="submit">
			Get Coordinates
		</button>
	</form>
	<form action="searchResults" type="get">
		<button class="small-10 small-offset-1 medium-4 medium-offset-2  columns" aria-label="submit form" href="#" type="submit">
			Find Nearby Mountains
		</button>
	</form>
</div>
